// classes para serem herdadas

.input-common {
  height: 2.5rem;
  width: 80%;
  border-radius: 0.5rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: $input-checked-label;
  border: none;
}

.divElInputCheckedLabelAfter {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $blue; /* Cor do círculo interno */
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

header {
  position: relative;
  .logo-top {
    width: 100%;

    img {
      margin-left: 6rem;
      margin-top: 3rem;
    }
  }

  .div-bmi {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 20%;

    h2 {
      margin-bottom: 1rem;
    }

    .bmi-content {
      width: 40%;
      h1 {
        color: $gunmetal;
        margin-bottom: 2rem;
      }
      p {
        color: $dark-eletric-blue;
      }
    }

    .bmi-card {
      width: 40%;
      background-color: #fff;
      padding: 1.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      > h2{
        color: $gunmetal;
      }

      .choose-metrics {
        display: flex;

        margin-bottom: 1rem;

        .div-metric {
          display: flex;
          margin-right: 7rem;
          align-items: center;

          .div-input-metric-radio {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5rem;

            label {
              display: inline-block;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              position: relative;
              cursor: pointer;
              border: 1px solid #5e6e85;
            }

            #input-metric-radio:checked + label:after {
              @extend .divElInputCheckedLabelAfter;
            }
          }
        }

        .div-imperial {
          display: flex;
          align-items: center;

          .div-input-imperial-radio {
            margin-right: 0.5rem;

            label {
              display: inline-block;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              position: relative;
              cursor: pointer;
              border: 1px solid #5e6e85;
            }

            #input-imperial-radio:checked + label:after {
              @extend .divElInputCheckedLabelAfter;
            }
          }
        }
      }

      .inputs {
        // margin: 0 auto;

        .inputs-metric {
          display: flex;
          span {
            color: blue;
          }

          .height {
            .input-height {
              position: relative;
              input {
                width: 90%;
                @extend .input-common;
              }
              span {
                position: absolute;
                right: 1.8rem;
                top: 0.7rem;
              }
            }
          }

          .weight {
            .input-weight {
              position: relative;
              input {
                width: 90%;
                @extend .input-common;
              }
              span {
                position: absolute;
                right: 1.8rem;
                top: 0.7rem;
              }
            }
          }
        }

        .inputs-imperial {
          .height {
            .input-height {
              display: flex;
              span {
                color: blue;
              }

              .height-foot {
                position: relative;
                input {
                  width: 90%;
                  @extend .input-common;
                }

                span {
                  position: absolute;
                  right: 1.8rem;
                  top: 0.7rem;
                }
              }

              .height-inch {
                position: relative;
                input {
                  width: 90%;
                  @extend .input-common;
                }
                span {
                  position: absolute;
                  right: 1.8rem;
                  top: 0.7rem;
                }
              }
            }
          }

          .weight {
            .input-weight {
              display: flex;
              span {
                color: blue;
              }

              .weight-stone {
                position: relative;
                input {
                  width: 90%;
                  @extend .input-common;
                }

                span {
                  position: absolute;
                  right: 1.8rem;
                  top: 0.7rem;
                }
              }

              .weight-pounds {
                position: relative;
                input {
                  width: 90%;
                  @extend .input-common;
                }
                span {
                  position: absolute;
                  right: 1.8rem;
                  top: 0.7rem;
                }
              }
            }
          }
        }
      }

      .div-bmi-card-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        width: 90%;
        height: 8rem;
        background-color: $blue;
        border-radius: 0 54px 54px 0;
        color: white;
        margin-top: 2rem;

        h2 {
          margin-bottom: 0.5rem;
        }
      }

      .div-bmi-card-descripion-active {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 10%;
        padding: 1rem;
        width: 90%;
        height: auto;
        background-color: $blue;
        border-radius: 0 54px 54px 0;
        color: white;
        .bmi-result {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h2 {
            font-size: 1.2rem;
            
          }
          p{
            font-size: 3.5rem;
            text-align: center;
            margin-right: 0.5rem;
          }
        }
        .bmi-description {
          width: 50%;
        }
      }
    }
  }

  .retangle {
    position: absolute;
    // width: 63rem;
    width: 70%;
    height: 37rem;
    border-radius: 0 0px 1rem 0;
    background: linear-gradient(to left, #d6e6fe, rgba(214, 252, 254, 0%));
    top: 0;
    left: 2rem;
    z-index: -3;
  }
}


/* Estilo para dispositivos móveis pequenos */
@media (max-width: 575.98px) {
  /* Estilos aqui */
  header{
    .logo-top{
      text-align: center;
      img{
        margin-left: 0rem;
      }
    }

    .div-bmi{
      flex-direction: column;
      width: 90%;

      .bmi-content{
        width: 100%;

        h1{
          text-align: center;
          font-size: 2.5rem;
          width: 100%;
        }
        p{
          text-align: center;
          margin-bottom: 2rem;
        }
      }

      .bmi-card{
        width: 100%;

        .choose-metrics{

          .div-metric{
            width: 50%;
            margin-right: 0rem;
          }
          .div-imperial{
            width: 50%;
          }


        }

        .inputs{
          .inputs-metric{
           .height {
            width: 50%;
            h4{
              margin-bottom: 0.8rem;
            }
            .input-height{
              input{
                height: 3.5rem;
              }
              span{
                right: 3.8rem;
                top: 1.1rem;
              }
            }
           }

           .weight{
            width: 50%;
            h4{
              margin-bottom: 0.8rem;
            }
            .input-weight{
              input{
                height: 3.5rem;
              }
              span{
                right: 3.8rem;
                top: 1.1rem;
              }
            }
           }
          }
          .inputs-imperial{
            .height{
              h4{
                margin-bottom: 0.5rem;
              }
              .input-height{
                .height-foot{
                  width: 50%;
                  input{
                    height:3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
                .height-inch{
                  width: 50%;
                  input{
                    height:3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
              }
            }

            .weight{
              h4{
                margin: 0.5rem 0;
              }
              .input-weight{
                .weight-stone{
                  width: 50%;
                  input{
                    height: 3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
                .weight-pounds{
                  width: 50%;
                  input{
                    height: 3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
              }

            }
          }



        }

        .div-bmi-card-description{
          width: 95%;
        }

        .div-bmi-card-descripion-active{
          width: 95%;
          border-radius: 20px;
          flex-direction: column;

          .bmi-result{
            width: 100%;
            align-items: start;
            
          }

          .bmi-description{
            align-self: center;
            width: 100%;

          }
        }

      }
    }

    .retangle{
      width: 100%;
      left: 0rem;
    }
  }
}

/* Estilo para dispositivos móveis médios */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos aqui */
  header{
    .logo-top{
      text-align: center;
      img{
        margin-left: 0rem;
      }
    }

    .div-bmi{
      flex-direction: column;
      width: 90%;

      .bmi-content{
        width: 100%;

        h1{
          text-align: center;
          font-size: 2.5rem;
          width: 100%;
        }
        p{
          text-align: center;
          margin-bottom: 2rem;
        }
      }

      .bmi-card{
        width: 100%;

        .choose-metrics{

          .div-metric{
            width: 50%;
            margin-right: 0rem;
          }
          .div-imperial{
            width: 50%;
          }


        }

        .inputs{
          .inputs-metric{
           .height {
            width: 50%;
            h4{
              margin-bottom: 0.8rem;
            }
            .input-height{
              input{
                height: 3.5rem;
              }
              span{
                right: 3.8rem;
                top: 1.1rem;
              }
            }
           }

           .weight{
            width: 50%;
            h4{
              margin-bottom: 0.8rem;
            }
            .input-weight{
              input{
                height: 3.5rem;
              }
              span{
                right: 3.8rem;
                top: 1.1rem;
              }
            }
           }
          }
          .inputs-imperial{
            .height{
              h4{
                margin-bottom: 0.5rem;
              }
              .input-height{
                .height-foot{
                  width: 50%;
                  input{
                    height:3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
                .height-inch{
                  width: 50%;
                  input{
                    height:3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
              }
            }

            .weight{
              h4{
                margin: 0.5rem 0;
              }
              .input-weight{
                .weight-stone{
                  width: 50%;
                  input{
                    height: 3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
                .weight-pounds{
                  width: 50%;
                  input{
                    height: 3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
              }

            }
          }



        }

        .div-bmi-card-description{
          width: 95%;
        }

        .div-bmi-card-descripion-active{
          width: 95%;
          .bmi-description{
            align-self: center;
          }
        }

      }
    }

    .retangle{
      width: 100%;
      left: 0rem;
    }
  }
}

/* Estilo para tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos aqui */

  header{
    .logo-top{
      text-align: center;
      img{
        margin-left: 0rem;
      }
    }

    .div-bmi{
      flex-direction: column;
      width: 90%;

      .bmi-content{
        width: 100%;

        h1{
          text-align: center;
          font-size: 2.5rem;
          width: 100%;
        }
        p{
          text-align: center;
          margin-bottom: 2rem;
        }
      }

      .bmi-card{
        width: 100%;

        .choose-metrics{

          .div-metric{
            width: 50%;
            margin-right: 0rem;
          }
          .div-imperial{
            width: 50%;
          }


        }

        .inputs{
          .inputs-metric{
           .height {
            width: 50%;
            h4{
              margin-bottom: 0.8rem;
            }
            .input-height{
              input{
                height: 3.5rem;
              }
              span{
                right: 3.8rem;
                top: 1.1rem;
              }
            }
           }

           .weight{
            width: 50%;
            h4{
              margin-bottom: 0.8rem;
            }
            .input-weight{
              input{
                height: 3.5rem;
              }
              span{
                right: 3.8rem;
                top: 1.1rem;
              }
            }
           }
          }
          .inputs-imperial{
            .height{
              h4{
                margin-bottom: 0.5rem;
              }
              .input-height{
                .height-foot{
                  width: 50%;
                  input{
                    height:3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
                .height-inch{
                  width: 50%;
                  input{
                    height:3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
              }
            }

            .weight{
              h4{
                margin: 0.5rem 0;
              }
              .input-weight{
                .weight-stone{
                  width: 50%;
                  input{
                    height: 3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
                .weight-pounds{
                  width: 50%;
                  input{
                    height: 3.5rem;
                  }
                  span{
                    right: 3.8rem;
                    top: 1.1rem;
                  }
                }
              }

            }
          }



        }

        .div-bmi-card-description{
          width: 95%;
        }

        .div-bmi-card-descripion-active{
          width: 95%;
          .bmi-description{
            align-self: center;
          }
        }

      }
    }

    .retangle{
      width: 100%;
    }
  }
  

}

/* Estilo para laptops pequenos */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos aqui */
  

}

/* Estilo para desktops e laptops maiores (não precisa)*/
@media (min-width: 1200px) {

}