.bmi-result-means {
  display: flex;
  width: 70%;
  margin: 5rem auto 0 auto;
  align-items: center;
  gap: 3rem;
  position: relative;
  .curved-line-left{
    position: absolute;
    right: 6rem;
    top: 0;
    width: 7%;
  }
  .man-eating {
    width: 45%;
  }

  .bmi-result-means-description {
    padding: 2rem;
    margin-top: 8rem;
    h1 {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: $gunmetal;
    }
    p {
      color: $dark-eletric-blue;
    }
  }
}
