.limitations-1{
    display: flex;
    gap: 10rem;
    width: 70%;
    margin: 0 auto;

    .limitations-1-children-1{
        width: 40rem;
        h1{
            margin-bottom: 2.5rem;
            font-size: 2rem;
            color: $gunmetal;
        }
        p{
            color: $dark-eletric-blue;
        }
    }

    .limitations-card{
        width: 20rem;
        margin-top: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        border-radius: 5%;
        .div-limitations-h1{
            display: flex;
            margin-bottom: 1rem;
            h1{
                color: $gunmetal;
            }
            

            img{
                margin-right: 0.5rem;
            }

        }
        p{
            color: $dark-eletric-blue;
        }
    }
}

.limitations-2{
    display: flex;
    position: relative;
    width: 70%;
    margin: 1.5rem 0 0 20%;
    justify-content: end;
    gap: 2rem;
    .curved-line{
        position: relative;
        top: 0rem;
        left: -5rem;
    }
    .limitations-card{
        margin-top: 0.5rem;
        width: 18rem;
        padding: 2rem;
        border-radius: 5%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        .div-limitations-h1{
            display: flex;
            margin-bottom: 1rem;
            h1{
                color: $gunmetal;
            }
            img{
                margin-right: 0.5rem;
            }
        }
        p{
            color: $dark-eletric-blue;
        }
    }
}

.limitations-3{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 2rem;
    .limitations-card{

        margin-top: 0.5rem;
        width: 18rem;
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5%;
        .div-limitations-h1{
            display: flex;
            margin-bottom: 1rem;
            h1{
                color: $gunmetal;
            }
            img{
                margin-right: 0.5rem;
            }
        }
        p{
            color: $dark-eletric-blue;
        }
    }
}

.none{
    display: none;
}

/* Estilo para dispositivos móveis pequenos */
@media (max-width: 575.98px) {
    /* Estilos aqui */
    .none{
        display: block;
    }
    .limitations-of-bmi{
        display: none;
    }


    .limitations-of-bmi-mobile{
        display: block;
        width: 90%;
        margin: 0 auto;
        .limitations-of-bmi-text{
            h1{
                text-align: center;
                margin-bottom: 1.2rem;
                font-size: 2.5rem;
                color: $gunmetal;
            }
            p{
            color: $dark-eletric-blue;
            text-align: center;
            font-size: 1.1rem;
            }
        }
    
   
    .limitations-of-bmi-grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 3vw;
        margin-top: 5rem;
      
        .limitations-card{
            // width: 90%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 2rem 1rem;
            .div-limitations-h1{
                display: flex;
                margin-bottom: 0.8rem;
                h1{
                    margin-left: 0.8em;
                    font-size: 1.8rem;
                    color: $gunmetal;
                }
            }
            p{
                font-size: 1.1rem;
                color: $dark-eletric-blue;
            }
        }
        .limitations-card-last{
           
        }
    }
}
  }
  
  /* Estilo para dispositivos móveis médios */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Estilos aqui */
     
    .none{
        display: block;
    }
    .limitations-of-bmi{
        display: none;
    }


    .limitations-of-bmi-mobile{
        display: block;
        width: 90%;
        margin: 0 auto;
        .limitations-of-bmi-text{
            h1{
                text-align: center;
                margin-bottom: 1.2rem;
                font-size: 2.5rem;
                color: $gunmetal;
            }
            p{
            color: $dark-eletric-blue;
            text-align: center;
            font-size: 1.1rem;
            }
        }
    
   
    .limitations-of-bmi-grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 3vw;
        margin-top: 5rem;
      
        .limitations-card{
            // width: 90%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 2rem 1rem;
            .div-limitations-h1{
                display: flex;
                margin-bottom: 0.8rem;
                h1{
                    margin-left: 0.8em;
                    font-size: 1.8rem;
                    color: $gunmetal;
                }
            }
            p{
                font-size: 1.1rem;
                color: $dark-eletric-blue;
            }
        }
        .limitations-card-last{
           
        }
    }
}
  }
  
  /* Estilo para tablets */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Estilos aqui */
    
    .none{
        display: block;
    }
    .limitations-of-bmi{
        display: none;
    }


    .limitations-of-bmi-mobile{
        display: block;
        width: 90%;
        margin: 0 auto;
        .limitations-of-bmi-text{
            h1{
                text-align: center;
                margin-bottom: 1.2rem;
                font-size: 1.8rem;
                color: $gunmetal;
            }
            p{
            color: $dark-eletric-blue;
            text-align: center;
            font-size: 1.1rem;
            }
        }
    
   
    .limitations-of-bmi-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 3vw;
        margin-top: 5rem;
      
        .limitations-card{
            // width: 90%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 2rem;
            .div-limitations-h1{
                display: flex;
                margin-bottom: 0.8rem;
                h1{
                    margin-left: 0.8em;
                    font-size: 1.8rem;
                    color: $gunmetal;
                }
            }
            p{
                font-size: 1.1rem;
                color: $dark-eletric-blue;
            }
        }
        .limitations-card-last{
            grid-column: 1/3;
            justify-self: center;
            width: 45vw;
        }
    }
}

  }
  
  /* Estilo para laptops pequenos */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Estilos aqui */
    
 
  }
  
  /* Estilo para desktops e laptops maiores (não precisa)*/
  @media (min-width: 1200px) {
 
  }