@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  box-sizing: border-box;
}

.bodyS {
  font-size: 1rem;
  font-weight: 300;
  color: #5E6E85;
}

.input-common, header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds input, header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone input, header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch input, header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot input, header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight input, header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height input {
  height: 2.5rem;
  width: 80%;
  border-radius: 0.5rem;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: rgba(59, 96, 230, 0.15);
  border: none;
}

.divElInputCheckedLabelAfter, header .div-bmi .bmi-card .choose-metrics .div-imperial .div-input-imperial-radio #input-imperial-radio:checked + label:after, header .div-bmi .bmi-card .choose-metrics .div-metric .div-input-metric-radio #input-metric-radio:checked + label:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #345FF6; /* Cor do círculo interno */
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

header {
  position: relative;
}
header .logo-top {
  width: 100%;
}
header .logo-top img {
  margin-left: 6rem;
  margin-top: 3rem;
}
header .div-bmi {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 20%;
}
header .div-bmi h2 {
  margin-bottom: 1rem;
}
header .div-bmi .bmi-content {
  width: 40%;
}
header .div-bmi .bmi-content h1 {
  color: #253347;
  margin-bottom: 2rem;
}
header .div-bmi .bmi-content p {
  color: #5E6E85;
}
header .div-bmi .bmi-card {
  width: 40%;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header .div-bmi .bmi-card > h2 {
  color: #253347;
}
header .div-bmi .bmi-card .choose-metrics {
  display: flex;
  margin-bottom: 1rem;
}
header .div-bmi .bmi-card .choose-metrics .div-metric {
  display: flex;
  margin-right: 7rem;
  align-items: center;
}
header .div-bmi .bmi-card .choose-metrics .div-metric .div-input-metric-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
header .div-bmi .bmi-card .choose-metrics .div-metric .div-input-metric-radio label {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: 1px solid #5e6e85;
}
header .div-bmi .bmi-card .choose-metrics .div-imperial {
  display: flex;
  align-items: center;
}
header .div-bmi .bmi-card .choose-metrics .div-imperial .div-input-imperial-radio {
  margin-right: 0.5rem;
}
header .div-bmi .bmi-card .choose-metrics .div-imperial .div-input-imperial-radio label {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: 1px solid #5e6e85;
}
header .div-bmi .bmi-card .inputs .inputs-metric {
  display: flex;
}
header .div-bmi .bmi-card .inputs .inputs-metric span {
  color: blue;
}
header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height {
  position: relative;
}
header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height input {
  width: 90%;
}
header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height span {
  position: absolute;
  right: 1.8rem;
  top: 0.7rem;
}
header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight {
  position: relative;
}
header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight input {
  width: 90%;
}
header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight span {
  position: absolute;
  right: 1.8rem;
  top: 0.7rem;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height {
  display: flex;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height span {
  color: blue;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot {
  position: relative;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot input {
  width: 90%;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot span {
  position: absolute;
  right: 1.8rem;
  top: 0.7rem;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch {
  position: relative;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch input {
  width: 90%;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch span {
  position: absolute;
  right: 1.8rem;
  top: 0.7rem;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight {
  display: flex;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight span {
  color: blue;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone {
  position: relative;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone input {
  width: 90%;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone span {
  position: absolute;
  right: 1.8rem;
  top: 0.7rem;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds {
  position: relative;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds input {
  width: 90%;
}
header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds span {
  position: absolute;
  right: 1.8rem;
  top: 0.7rem;
}
header .div-bmi .bmi-card .div-bmi-card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 96%;
  height: 8rem;
  background-color: #345FF6;
  border-radius: 0 54px 54px 0;
  color: white;
  margin-top: 2rem;
}
header .div-bmi .bmi-card .div-bmi-card-description h2 {
  margin-bottom: 0.5rem;
}
header .div-bmi .bmi-card .div-bmi-card-descripion-active {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 10%;
  padding: 1rem;
  width: 90%;
  height: auto;
  background-color: #345FF6;
  border-radius: 0 54px 54px 0;
  color: white;
}
header .div-bmi .bmi-card .div-bmi-card-descripion-active .bmi-result {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .div-bmi .bmi-card .div-bmi-card-descripion-active .bmi-result h2 {
  font-size: 1.2rem;
  text-align: center;
}
header .div-bmi .bmi-card .div-bmi-card-descripion-active .bmi-result p {
  font-size: 3rem;
  text-align: center;
}
header .div-bmi .bmi-card .div-bmi-card-descripion-active .bmi-description {
  width: 50%;
}
header .retangle {
  position: absolute;
  width: 70%;
  height: 37rem;
  border-radius: 0 0px 1rem 0;
  background: linear-gradient(to left, #d6e6fe, rgba(214, 252, 254, 0));
  top: 0;
  left: 2rem;
  z-index: -3;
}

/* Estilo para dispositivos móveis pequenos */
@media (max-width: 575.98px) {
  /* Estilos aqui */
  header .logo-top {
    text-align: center;
  }
  header .logo-top img {
    margin-left: 0rem;
  }
  header .div-bmi {
    flex-direction: column;
    width: 90%;
  }
  header .div-bmi .bmi-content {
    width: 100%;
  }
  header .div-bmi .bmi-content h1 {
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
  }
  header .div-bmi .bmi-content p {
    text-align: center;
    margin-bottom: 2rem;
  }
  header .div-bmi .bmi-card {
    width: 100%;
  }
  header .div-bmi .bmi-card .choose-metrics .div-metric {
    width: 50%;
    margin-right: 0rem;
  }
  header .div-bmi .bmi-card .choose-metrics .div-imperial {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height h4 {
    margin-bottom: 0.8rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight h4 {
    margin-bottom: 0.8rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height h4 {
    margin-bottom: 0.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight h4 {
    margin: 0.5rem 0;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .div-bmi-card-description {
    width: 95%;
  }
  header .div-bmi .bmi-card .div-bmi-card-descripion-active {
    width: 95%;
    border-radius: 20px;
    flex-direction: column;
  }
  header .div-bmi .bmi-card .div-bmi-card-descripion-active .bmi-result {
    width: 100%;
    align-items: start;
  }
  header .div-bmi .bmi-card .div-bmi-card-descripion-active .bmi-description {
    align-self: center;
    width: 100%;
  }
  header .retangle {
    width: 100%;
    left: 0rem;
  }
}
/* Estilo para dispositivos móveis médios */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos aqui */
  header .logo-top {
    text-align: center;
  }
  header .logo-top img {
    margin-left: 0rem;
  }
  header .div-bmi {
    flex-direction: column;
    width: 90%;
  }
  header .div-bmi .bmi-content {
    width: 100%;
  }
  header .div-bmi .bmi-content h1 {
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
  }
  header .div-bmi .bmi-content p {
    text-align: center;
    margin-bottom: 2rem;
  }
  header .div-bmi .bmi-card {
    width: 100%;
  }
  header .div-bmi .bmi-card .choose-metrics .div-metric {
    width: 50%;
    margin-right: 0rem;
  }
  header .div-bmi .bmi-card .choose-metrics .div-imperial {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height h4 {
    margin-bottom: 0.8rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight h4 {
    margin-bottom: 0.8rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height h4 {
    margin-bottom: 0.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight h4 {
    margin: 0.5rem 0;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .div-bmi-card-description {
    width: 95%;
  }
  header .div-bmi .bmi-card .div-bmi-card-descripion-active {
    width: 95%;
  }
  header .div-bmi .bmi-card .div-bmi-card-descripion-active .bmi-description {
    align-self: center;
  }
  header .retangle {
    width: 100%;
    left: 0rem;
  }
}
/* Estilo para tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos aqui */
  header .logo-top {
    text-align: center;
  }
  header .logo-top img {
    margin-left: 0rem;
  }
  header .div-bmi {
    flex-direction: column;
    width: 90%;
  }
  header .div-bmi .bmi-content {
    width: 100%;
  }
  header .div-bmi .bmi-content h1 {
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
  }
  header .div-bmi .bmi-content p {
    text-align: center;
    margin-bottom: 2rem;
  }
  header .div-bmi .bmi-card {
    width: 100%;
  }
  header .div-bmi .bmi-card .choose-metrics .div-metric {
    width: 50%;
    margin-right: 0rem;
  }
  header .div-bmi .bmi-card .choose-metrics .div-imperial {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height h4 {
    margin-bottom: 0.8rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .height .input-height span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight h4 {
    margin-bottom: 0.8rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-metric .weight .input-weight span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height h4 {
    margin-bottom: 0.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-foot span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .height .input-height .height-inch span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight h4 {
    margin: 0.5rem 0;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-stone span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds {
    width: 50%;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds input {
    height: 3.5rem;
  }
  header .div-bmi .bmi-card .inputs .inputs-imperial .weight .input-weight .weight-pounds span {
    right: 3.8rem;
    top: 1.1rem;
  }
  header .div-bmi .bmi-card .div-bmi-card-description {
    width: 95%;
  }
  header .div-bmi .bmi-card .div-bmi-card-descripion-active {
    width: 95%;
  }
  header .div-bmi .bmi-card .div-bmi-card-descripion-active .bmi-description {
    align-self: center;
  }
  header .retangle {
    width: 100%;
  }
}
/* Estilo para laptops pequenos */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos aqui */
  header .div-bmi .bmi-card {
    width: 52%;
  }
}
/* Estilo para desktops e laptops maiores (não precisa)*/
.bmi-result-means {
  display: flex;
  width: 70%;
  margin: 5rem auto 0 auto;
  align-items: center;
  gap: 3rem;
  position: relative;
}
.bmi-result-means .curved-line-left {
  position: absolute;
  right: 6rem;
  top: 0;
  width: 7%;
}
.bmi-result-means .man-eating {
  width: 45%;
}
.bmi-result-means .bmi-result-means-description {
  padding: 2rem;
  margin-top: 8rem;
  width: 50%;
}
.bmi-result-means .bmi-result-means-description h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #253347;
}
.bmi-result-means .bmi-result-means-description p {
  color: #5E6E85;
}

/* Estilo para dispositivos móveis pequenos */
@media (max-width: 575.98px) {
  /* Estilos aqui */
  .bmi-result-means {
    flex-direction: column;
    width: 100%;
  }
  .bmi-result-means .curved-line-left {
    display: none;
  }
  .bmi-result-means .man-eating {
    width: 100vw;
  }
  .bmi-result-means .bmi-result-means-description {
    margin-top: 0;
    width: 100%;
  }
  .bmi-result-means .bmi-result-means-description h1 {
    font-size: 2.5rem;
  }
  .bmi-result-means .bmi-result-means-description p {
    font-size: 1.5rem;
  }
}
/* Estilo para dispositivos móveis médios */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos aqui */
  .bmi-result-means {
    flex-direction: column;
    width: 100%;
  }
  .bmi-result-means .curved-line-left {
    display: none;
  }
  .bmi-result-means .man-eating {
    width: 100vw;
  }
  .bmi-result-means .bmi-result-means-description {
    margin-top: 0;
    width: 100%;
  }
  .bmi-result-means .bmi-result-means-description h1 {
    font-size: 2.5rem;
  }
  .bmi-result-means .bmi-result-means-description p {
    font-size: 1.5rem;
  }
}
/* Estilo para tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos aqui */
  .bmi-result-means {
    width: 100%;
    margin: 5rem 0 0 0;
    align-items: stretch;
  }
  .bmi-result-means .curved-line-left {
    display: none;
  }
  .bmi-result-means .bmi-result-means-description {
    margin-top: 0;
    width: 50%;
  }
  .bmi-result-means .bmi-result-means-description h1 {
    font-size: 2.5rem;
  }
  .bmi-result-means .bmi-result-means-description p {
    font-size: 1.5rem;
  }
}
/* Estilo para laptops pequenos */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos aqui */
}
/* Estilo para desktops e laptops maiores (não precisa)*/
.icons-bmi {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.icons-bmi .icons-card h3 {
  color: #253347;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.icons-bmi .icons-card p {
  color: #5E6E85;
}

/* Estilo para dispositivos móveis pequenos */
@media (max-width: 575.98px) {
  /* Estilos aqui */
  .icons-bmi {
    flex-direction: column;
    width: 90%;
  }
  .icons-bmi .icons-card img {
    width: 12%;
  }
  .icons-bmi .icons-card h3 {
    font-size: 2.5rem;
  }
  .icons-bmi .icons-card p {
    font-size: 1.5rem;
  }
}
/* Estilo para dispositivos móveis médios */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos aqui */
  .icons-bmi {
    flex-direction: column;
    width: 90%;
  }
  .icons-bmi .icons-card img {
    width: 12%;
  }
  .icons-bmi .icons-card h3 {
    font-size: 2.5rem;
  }
  .icons-bmi .icons-card p {
    font-size: 1.5rem;
  }
}
/* Estilo para tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos aqui */
  .icons-bmi {
    flex-direction: column;
    width: 90%;
  }
  .icons-bmi .icons-card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 2rem;
    align-items: center;
  }
  .icons-bmi .icons-card img {
    grid-column: 1;
    width: 125%;
    grid-row: 1/3;
  }
  .icons-bmi .icons-card h3 {
    margin-top: 0;
    font-size: 1.8rem;
  }
  .icons-bmi .icons-card p {
    grid-column: 2;
    font-size: 1.4rem;
  }
}
/* Estilo para laptops pequenos */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos aqui */
}
/* Estilo para desktops e laptops maiores (não precisa)*/
.limitations-1 {
  display: flex;
  gap: 10rem;
  width: 70%;
  margin: 0 auto;
}
.limitations-1 .limitations-1-children-1 {
  width: 40rem;
}
.limitations-1 .limitations-1-children-1 h1 {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #253347;
}
.limitations-1 .limitations-1-children-1 p {
  color: #5E6E85;
}
.limitations-1 .limitations-card {
  width: 20rem;
  margin-top: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 5%;
}
.limitations-1 .limitations-card .div-limitations-h1 {
  display: flex;
  margin-bottom: 1rem;
}
.limitations-1 .limitations-card .div-limitations-h1 h1 {
  color: #253347;
}
.limitations-1 .limitations-card .div-limitations-h1 img {
  margin-right: 0.5rem;
}
.limitations-1 .limitations-card p {
  color: #5E6E85;
}

.limitations-2 {
  display: flex;
  position: relative;
  width: 70%;
  margin: 1.5rem 0 0 20%;
  justify-content: end;
  gap: 2rem;
}
.limitations-2 .curved-line {
  position: relative;
  top: 0rem;
  left: -5rem;
}
.limitations-2 .limitations-card {
  margin-top: 0.5rem;
  width: 18rem;
  padding: 2rem;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.limitations-2 .limitations-card .div-limitations-h1 {
  display: flex;
  margin-bottom: 1rem;
}
.limitations-2 .limitations-card .div-limitations-h1 h1 {
  color: #253347;
}
.limitations-2 .limitations-card .div-limitations-h1 img {
  margin-right: 0.5rem;
}
.limitations-2 .limitations-card p {
  color: #5E6E85;
}

.limitations-3 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2rem;
}
.limitations-3 .limitations-card {
  margin-top: 0.5rem;
  width: 18rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}
.limitations-3 .limitations-card .div-limitations-h1 {
  display: flex;
  margin-bottom: 1rem;
}
.limitations-3 .limitations-card .div-limitations-h1 h1 {
  color: #253347;
}
.limitations-3 .limitations-card .div-limitations-h1 img {
  margin-right: 0.5rem;
}
.limitations-3 .limitations-card p {
  color: #5E6E85;
}

.none {
  display: none;
}

/* Estilo para dispositivos móveis pequenos */
@media (max-width: 575.98px) {
  /* Estilos aqui */
  .none {
    display: block;
  }
  .limitations-of-bmi {
    display: none;
  }
  .limitations-of-bmi-mobile {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-text h1 {
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
    color: #253347;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-text p {
    color: #5E6E85;
    text-align: center;
    font-size: 1.1rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3vw;
    margin-top: 5rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card .div-limitations-h1 {
    display: flex;
    margin-bottom: 0.8rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card .div-limitations-h1 h1 {
    margin-left: 0.8em;
    font-size: 1.8rem;
    color: #253347;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card p {
    font-size: 1.1rem;
    color: #5E6E85;
  }
}
/* Estilo para dispositivos móveis médios */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos aqui */
  .none {
    display: block;
  }
  .limitations-of-bmi {
    display: none;
  }
  .limitations-of-bmi-mobile {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-text h1 {
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
    color: #253347;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-text p {
    color: #5E6E85;
    text-align: center;
    font-size: 1.1rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3vw;
    margin-top: 5rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card .div-limitations-h1 {
    display: flex;
    margin-bottom: 0.8rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card .div-limitations-h1 h1 {
    margin-left: 0.8em;
    font-size: 1.8rem;
    color: #253347;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card p {
    font-size: 1.1rem;
    color: #5E6E85;
  }
}
/* Estilo para tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos aqui */
  .none {
    display: block;
  }
  .limitations-of-bmi {
    display: none;
  }
  .limitations-of-bmi-mobile {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-text h1 {
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    color: #253347;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-text p {
    color: #5E6E85;
    text-align: center;
    font-size: 1.1rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 3vw;
    margin-top: 5rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card .div-limitations-h1 {
    display: flex;
    margin-bottom: 0.8rem;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card .div-limitations-h1 h1 {
    margin-left: 0.8em;
    font-size: 1.8rem;
    color: #253347;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card p {
    font-size: 1.1rem;
    color: #5E6E85;
  }
  .limitations-of-bmi-mobile .limitations-of-bmi-grid .limitations-card-last {
    grid-column: 1/3;
    justify-self: center;
    width: 45vw;
  }
}
/* Estilo para laptops pequenos */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos aqui */
}
/* Estilo para desktops e laptops maiores (não precisa)*/

/*# sourceMappingURL=style.css.map */
